body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;

  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

textarea {
  resize: none;
}

.list {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* header */
/* .page-header {
} */

/* main nav */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  outline: 2px solid grey;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.logo-color {
  color: #212121;
}

.main {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* site nav */

.site-nav {
  display: flex;
  margin-left: 86px;
  /* margin-bottom: 30px; */
  align-items: center;
}
.link {
  position: relative;
}

.site-nav .link {
  display: block;
  /* outline: 2px solid grey; */
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.active .link {
  color: #2196f3;
}

.line::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;

  transform: scaleY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line:hover::before,
.line:focus::before {
  transform: scaleY(1);
}

.active .line::before {
  transform: scaleY(1);
}

/* Contacts */

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts .item + .item {
  margin-left: 50px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
}

.smartphone {
  margin-right: 10px;
  width: 10px;
  height: 15px;
}

/* hero */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 1px solid #ccc; */
  background-color: #000;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/header-pctr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  padding-top: 200px;
  margin-top: 0px;
  margin-bottom: 46px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;

  text-transform: uppercase;

  color: #ffffff;
}

.hero-link:hover,
.hero-link:focus {
  color: #2196f3;
}

.hero-btn {
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;

  color: #ffffff;
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-link {
  display: flex;
  /* padding-bottom: 200px; */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.06em;
}

/* communication form */

.form {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;

  width: 550px;

  left: 536px;
  top: 221px;

  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.form-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field input {
  margin: 0;
  padding: 12px 42px;
}

/* skills */

.background {
  display: flex;
  justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.icon {
  width: 70px;
  height: 70px;

  background-repeat: no-repeat;
}

.skills {
  border-bottom: 1px solid #ececec;
}

.skills-list {
  display: flex;
}
.skills-list .skills-item + .skills-item {
  margin-left: 29px;
}

.skills-item {
  width: calc((100%-60px) / 4);
}

.skills-title {
  margin-top: 0;
  margin-bottom: 10;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

.description-skills {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/* our offers */

.offers-list {
  display: flex;
}

.offers-list .offers-item + .offers-item {
  margin-left: 30px;
}

.title {
  margin-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.offers-item {
  display: flex;
  position: relative;
  justify-content: center;

  width: calc((100%-60px) / 3);

  /* border-radius: 0px 0px 4px 4px; */
}

.offers-description {
  display: flex;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  align-items: center;
  justify-content: center;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
}

/* our team */

.sec-pad {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  width: calc((100%-60px) / 4);
  display: flex;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.title {
  margin-bottom: 50px;
}

.team {
  background: #f5f4fa;
}

.team-item {
  width: 270px;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-photo {
  border-radius: 4px 4px 0px 0px;

  margin-bottom: 30px;
}

.team-name {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-position {
  margin-top: 0px;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-link {
  align-items: center;
  color: #afb1b8;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  color: #2196f3;
  fill: #fff;
  background-color: #2196f3;
}

.social {
  display: flex;
  align-items: center;

  padding: 0px 32px;
  margin-bottom: 24px;
  justify-content: space-between;
}

.social-bg {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.social-icon {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
}
/* customers */

.customers-list {
  display: flex;
  justify-content: center;
}

.customers-list .customers-item + .customers-item {
  margin-left: 30px;
}

.customers-link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.logo-1 {
  display: block;
  width: 45px;
  height: 50px;
}

.logo-2 {
  display: block;
  width: 40px;
  height: 52px;
}

.logo-3 {
  display: block;
  width: 41px;
  height: 43px;
}

.logo-4 {
  display: block;
  width: 80px;
  height: 42px;
}

.logo-5 {
  display: block;
  width: 59px;
  height: 47px;
}

.logo-6 {
  display: block;
  width: 89px;
  height: 46px;
}

/* footer */

.footer {
  background: #2f303a;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18x;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo-color {
  color: #ffffff;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-link:hover,
.address-link:focus {
  color: #2196f3;
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 18px;
  padding-bottom: 21px;

  color: rgba(255, 255, 255, 0.4);

  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  padding-top: 48px;
}

.ft-logo-item {
  display: block;
}

.sl-list {
  display: flex;
  margin-top: 21px;
  margin-bottom: 56px;
}

.sl-list .sl-item + .sl-item {
  margin-left: 11px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  text-decoration: none;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

/* footer-subscribe */

.footer-form {
  margin-top: 20px;
}
.e-mail {
  width: 360px;
  height: 50px;

  background: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-btn {
  /* position: relative; */
  width: 200px;
  height: 50px;

  padding: 10px 29px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon-send {
  /* position: absolute;
  top: 13px;
  right: 29px; */
  width: 24px;
  height: 24px;

  margin-left: 10px;
}

/* portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container .srch-btn {
  display: flex;
  justify-content: center;
}

.srch-btn .srch-btn-item + .srch-btn-item {
  margin-left: 8px;
}

.srch-btn {
  margin-bottom: 56px;
}

.button:hover,
.button:focus {
  color: #2196f3;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.li_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.05em;

  color: #212121;
}

.text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: #757575;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  display: block;
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.li_title {
  margin-bottom: 4px;
}

.pf-link {
  display: block;
  position: relative;
}

.pf-link:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card {
  position: relative;
  width: 370px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.card-content {
  padding: 20px 24px;
  background: #ffffff;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.texthover {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  width: 100%;
  height: 100%;

  padding: 63px 24px;

  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-link:hover .texthover {
  transform: translateY(0%);
}
